@page
@model LAE.Pages.Events.Events.IndexModel
@using LostArkEng.Models

@{
    ViewData["Title"] = "Index";
}
@if (Model.LoggedInUser != null)
{

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Party Leader</th>
                <th>Member #2</th>
                <th>Member #3</th>
                <th>Member #4</th>
                <th>
                    @Html.DisplayNameFor(model => model.EventInfo[0].StartingTime)
                </th>
                <th>
                    Server Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model.EventInfo)
            {
                <form method="post">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy.DiscordName)
                        </td>
                        <td>
                            @if (item.MemberTwo != null)
                            {
                                @Html.DisplayFor(modelItem => item.MemberTwo.DiscordName)
                            }
                            else if (item.CreatedBy.DiscordName != @Model.LoggedInUser.DiscordName)
                            {
                                <input type="submit" asp-action="JoinTeam" asp-route-id="@item.Id" asp-route-slot="2" value="Join" class="btn btn-primary" />
                            }
                            else
                            {
                                <span>--EMPTY--</span>
                            }
                        </td>
                        <td>
                            @if (item.MemberThree != null)
                            {
                                @Html.DisplayFor(modelItem => item.MemberThree.DiscordName)
                            }
                            else if (item.CreatedBy.DiscordName != @Model.LoggedInUser.DiscordName)
                            {
                                <input type="submit" asp-action="JoinTeam" asp-route-id="@item.Id" asp-route-slot="3" value="Join" class="btn btn-primary" />
                            }
                            else
                            {
                                <span>--EMPTY--</span>
                            }
                        </td>
                        <td>
                            @if (item.MemberFour != null)
                            {
                                @Html.DisplayFor(modelItem => item.MemberFour.DiscordName)
                            }
                            else if (item.CreatedBy.DiscordName != @Model.LoggedInUser.DiscordName)
                            {
                                <input type="submit" asp-action="JoinTeam" asp-route-id="@item.Id" asp-route-slot="4" value="Join" class="btn btn-primary" />
                            }
                            else
                            {
                                <span>--EMPTY--</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartingTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ServerName)
                        </td>
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                </form>
            }
        </tbody>
    </table>

}


