@page
@model LAE.Pages.Events.Sessions.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.LoggedInUser != null)
{

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Activity[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activity[0].TypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activity[0].MinGearScore)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Activity)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MinGearScore)
                    </td>
                    <td>
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>You are not logged in!</h3>
}
