@page
@model LAE.Pages.Account.Profile.IndexModel
@using LostArkEng.Models

@{
    ViewData["Title"] = "Profile";
}

@if (Model.LoggedInUser != null)
{
    <div class="row" style="color: #fff;">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" style="width: 100%">
            <div class="col-sm-9 col-md-6 col-lg-6">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.CharacterName"></label>
                    <input asp-for="Input.CharacterName" class="form-control" />
                    <span asp-validation-for="Input.CharacterName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.DiscordName"> ex. YourName#2520</label>
                    <input asp-for="Input.DiscordName" class="form-control" />
                    <span asp-validation-for="Input.DiscordName" class="text-danger"></span>
                </div>
            </div>

            <div class="col-sm-9 col-md-6 col-lg-6">

                <div class="form-group">
                    <label asp-for="Input.CharClass"></label>
                    <select asp-for="Input.CharClass" asp-items="Html.GetEnumSelectList<ApplicationUser.CharacterClass>()" class="form-control">
                    </select>
                    <span asp-validation-for="Input.CharClass" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Input.GearScore"></label>
                    <input asp-for="Input.GearScore" class="form-control" />
                    <span asp-validation-for="Input.GearScore" class="text-danger"></span>
                </div>
            </div>

            <div class="row col-sm-9 col-md-6 col-lg-6">
                <div class="col-sm-12 col-md-6">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">Change Password</a>
                </div>
            </div>
        </form>
    </div>
    <br/>

    <h3>Group History</h3>
    <div class="row col-md-12">
        <table class="table" id="EventTable" style="width: 100%">
            <thead>
                <tr>
                    <th>Event</th>
                    <th class="d-none d-sm-none d-md-table-cell">Leader</th>
                    <th class="d-none d-sm-none d-md-table-cell">Time</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.PartyInfo)
                {
                    <form method="post">
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Activity.Name)
                            </td>
                            <td class="d-none d-sm-table-cell">
                                <a asp-page="../../Account/Profile/Details" asp-route-id="@item.CreatedBy.Id"><img class="imgHoverHighlight" src="\Images\classes\@(item.CreatedBy.GetClassIcon(item.CreatedBy.CharClass)).png" title="@item.CreatedBy.DisplayName" /></a>
                            </td>
                            <td class="d-none d-sm-table-cell">
                                @Html.DisplayFor(modelItem => item.StartingTime)
                            </td>
                        </tr>
                    </form>
                }
            </tbody>
        </table>
    </div>
}


